

.header{
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C0C0C0;
    min-height: 51px;
    color: #000000;
    background-color: white;
    .containerLogo{
        background-color: #D12123;
        padding: 0.7rem 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    nav{
        width: 100%;
        height: 100%;
    }
    
    .containerInfosUsuarios{
        padding: 0.7rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .funcsUser{
            display: flex;
            align-items: center;
            gap: 1rem;
            .containerUser {
            cursor: pointer;

                span{
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    gap: 0.3rem;
                    font-weight: 700;
                }
              border-left: 1px solid #C0C0C0;
              padding-left: 0.7rem;
            }
        }
        .containerBreadCrumb{
            margin-left: 1rem;
            span{
                font-size: 14px;
                cursor: pointer;
                font-weight: 700;
                line-height: 16.41px;
                color: #000000;
            cursor: pointer;

            }
        }
       
    }
}
.dashboard{
    background-color: white;
    
    gap: 0.5rem;
    position: fixed;
    left: 0px;
    height: 94%;
    min-width: 64.6px;
    box-shadow: 0px 0px 17px 4px #0000001A;
    top: 52px;

    aside{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.2rem;
        padding-top: 3rem;

        .containerCardPage,.containerCardPageActive{
            padding: 0.35rem 0.6rem;
            border-radius: 0.25rem;
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
                cursor: pointer;
            }
        }
        .containerCardPageActive{
            background-color: #D12123;
            svg{
                color: white;
            }
        }
    }
}