

.containerDashBoard{
    height: 101vh;
    width: 200px;
    padding: 1rem;
    // background: linear-gradient(87.93deg, #1F7192 0.59%, #17A2B8 137.98%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: fixed;
    left: 0px;
    top: 0px;
}

.containerButtons{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-top: 1rem;

  div{
    padding: 0.6rem 0.4rem;
    cursor: pointer;
    border-bottom: 1px solid rgb(214, 203, 203);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    span{
        font-weight: bold;
    }
  }
}